body {
  width: 300px;
  height: 200px;
  background-color: rgb(39, 45, 50);
  display: flex;
  justify-content: center;
}

p {
  display: inner-flex;
  margin: auto 10px;
  font-size: 22px;
  color: rgb(221, 221, 248);
  border-radius: 6px;
  border: 2px solid lightblue;
  padding: 10px;
}
  